/* 共通CSS */
.p-relative {
    position: relative;
    margin: 0;
}
.d-flex {
  display: flex;
}
.pc-dnone {
    display: none;
}
/* body,header,footer */
body{
    margin: 0 20px;
    padding: 50px 10px;
    background-color: #332426;
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 100%;
    color: #fff;
}
body a {
    display: inline-block;
    padding: 0.3em;
    transition: .3s;
    transform: scale(1);
    text-decoration: none;
    color: #fff;
}
body a:hover {
    transform: scale(1.3);
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    padding: 10px;
    text-align: left;
    z-index: 999;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45px;
    padding:10px;
}
footer .logo-reverse {
    position: absolute;
    bottom: -10px;
    right: -145px;
    opacity: .5;
}
.bg-grad {
    position: fixed;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    top: 0;
    left: 0;
    /* transform: translate(-50%, -50%); */
}
.bg-wave {
    position: fixed;
    z-index: 1;
    height: 100vh;
    width: 100%;
    top: 30%;
    left: 19px;
    opacity: .2;
}
.title-wrap {
    position: fixed;
    top: 0;
    left: 0;
}
.img-float {
    animation: floatAnimation 2s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate;
}
@keyframes floatAnimation {
    0% { transform:translateX(0) }
    50% { transform:translateX(2px) }
    100% { transform:translateX(-2px) }
}
h1 p {
    position: absolute;
    width: 230px;
    font-size: .4em;
    letter-spacing: .3em;
    left: 20px;
    top: 190px;
    font-weight: lighter;
    font-family: none;
    color: #fff;
}
/* contents */
#contents {
    z-index: 2;
    position: relative;
    width: 90%;
    min-height: 950px;
    overflow: auto;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    color: #fff;
}
#contents .songs {
    text-align: center;
    margin-top: 90px;
}
#contents .songs section{
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
#contents .songs h2 {
    font-size: 1.5em;
}
#contents .songs h3 {
    font-size: .9em;
    letter-spacing: .3em;
}
#contents .songs section.sankou-site {
    margin-top: 40px;
}
#contents .songs section.sankou-site div{
    opacity: .8;
}
.go-top {
    position: fixed;
    /* bottom: 42%; */
    bottom: 50%;
    right: 0;
    width: 280px;
    /* width: 210px; */
    /* background: #ff00ff; */
    background:#00ccc3;
    opacity: .8;
    padding: 5px;
    z-index: 200;
}
.go-top a {
   width: 100%;
   letter-spacing: .5em;
}
.go-top a:hover {
    text-decoration: underline;
 }
.side-seach {
    position: fixed;
    /* bottom: 50%; */
    right: 0;
    width: 280px;
    background:#00ccc3;
    opacity: .8;
    padding: 5px;
    z-index: 200;
    letter-spacing: .5em;
}
.side-seach input {
    width: 120px;
    border-radius: 20px;
    padding: 5px;
    color: #333;
    border: #fff 1px solid;
    text-align: center;
    display: inline-block;
}
.side-seach form {
    display: inline-block;
}
/* 以下、スマホ用のデザイン */
@media screen and (max-width: 767px) {
    .pc-dnone {
        display: block;
    }
    .go-top,.side-seach {
        display: none;
    }
    h1 p {
        width: 90%;
        -webkit-transition: all .8s;
        -moz-transition: all .8s;
        -ms-transition: all .8s;
        -o-transition: all .8s;
        transition: all .8s;
        opacity: 1;
    }
    h1 p.js-spScroll {
        opacity: 0;
    }
    .title-wrap {
        width: 100%;
    }
    #contents {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #contents .songs {
        margin-top: 85%;
    }
    #contents .songs h2 {
        font-size: 1em;
    }
    #contents .songs h3 {
        font-size: .7em;
        letter-spacing: .5em;
        line-height: 1.5em;
    }
 }